{% extends 'base.html.twig' %}

{% block body %}
    <h1>FosUser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fosUser.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ fosUser.username }}</td>
            </tr>
            <tr>
                <th>Usernamecanonical</th>
                <td>{{ fosUser.usernameCanonical }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fosUser.email }}</td>
            </tr>
            <tr>
                <th>Emailcanonical</th>
                <td>{{ fosUser.emailCanonical }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if fosUser.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ fosUser.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ fosUser.password }}</td>
            </tr>
            <tr>
                <th>Lastlogin</th>
                <td>{% if fosUser.lastLogin %}{{ fosUser.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{% if fosUser.locked %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Expired</th>
                <td>{% if fosUser.expired %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{% if fosUser.expiresAt %}{{ fosUser.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Confirmationtoken</th>
                <td>{{ fosUser.confirmationToken }}</td>
            </tr>
            <tr>
                <th>Passwordrequestedat</th>
                <td>{% if fosUser.passwordRequestedAt %}{{ fosUser.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if fosUser.roles %}{{ fosUser.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Credentialsexpired</th>
                <td>{% if fosUser.credentialsExpired %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Credentialsexpireat</th>
                <td>{% if fosUser.credentialsExpireAt %}{{ fosUser.credentialsExpireAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_usuario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_usuario_edit', { 'id': fosUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
