{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comentario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Idproductoservicio</th>
                <th>Nombrecomentario</th>
                <th>Emailcomentario</th>
                <th>Descripcioncomentario</th>
                <th>Registrocomentario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios %}
            <tr>
                <td><a href="{{ path('admin_comentarios_show', { 'id': comentario.id }) }}">{{ comentario.id }}</a></td>
                <td>{% if comentario.tipo %}Yes{% else %}No{% endif %}</td>
                <td>{{ comentario.idProductoservicio }}</td>
                <td>{{ comentario.nombreComentario }}</td>
                <td>{{ comentario.emailComentario }}</td>
                <td>{{ comentario.descripcionComentario }}</td>
                <td>{% if comentario.registroComentario %}{{ comentario.registroComentario|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_comentarios_show', { 'id': comentario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_comentarios_edit', { 'id': comentario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_comentarios_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
