
<!-- team -->
<h3 class="text-center  wowload fadeInUp">Cooperantes</h3>
<div class="row grid team  wowload fadeInUpBig">  
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/1.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Fundacion REDES</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/2.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Diputacion de Zaragoza</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/3.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Manos Unidas</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/4.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Majadahonda</b></a></p></figcaption>
  </figure>
</div>
<!-- team -->
</div>
<div class="row grid team  wowload fadeInUpBig">  
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/5.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Alcobendas</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/6.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Oviedo</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/7.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Sabadell</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/8.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Onda</b></a></p></figcaption>
  </figure>
</div>
<!-- team -->
</div>
<div class="row grid team  wowload fadeInUpBig">  
<div class=" col-sm-3 col-xs-6">
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/9.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de Derdanyola del Valle</b></a></p></figcaption>
  </figure>
</div>
  <div class=" col-sm-3 col-xs-6">
  <figure class="effect-chico">
        <img src="{{ asset('images/team/10.jpg') }}" class="img-responsive" /><figcaption><p><a href="#"><b>Ayuntamiento de la Roca del Valle</b></a></p></figcaption>
  </figure>
</div>
<div class=" col-sm-3 col-xs-6">
</div>
<!-- team -->
</div>