{% extends 'RedesSivelBundle::admin.html.twig' %}
{% block titulo %}Servicios{% endblock %}
{% block body %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Visto</th>
                <th>Imagen</th>
                <th>Registrado</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.nombreServicio }}</td>
                <td>{{ servicio.descripcionServicio }}</td>
                <td>{{ servicio.precioServicio }}</td>
                <td>{{ servicio.vistoServicio }}</td>
                <td>{{ servicio.img0Servicio }}</td>
                <td>{% if servicio.registro %}{{ servicio.registro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('admin_servicios_show', { 'id': servicio.id }) }}"  class="btn btn-default">Ver</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_servicios_new') }}" class="btn btn-success">Crear nueva</a>
{% endblock %}
