{% extends 'RedesSivelBundle::admin.html.twig' %}
{% block titulo %}Servicio{% endblock %}
{% block body %}
    <table>
        <tbody>
            <tr>
                <th>Nombreservicio</th>
                <td>{{ servicio.nombreServicio }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ servicio.descripcionServicio }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ servicio.precioServicio }}</td>
            </tr>
            <tr>
                <th>Visto</th>
                <td>{{ servicio.vistoServicio }}</td>
            </tr>
            <tr>
                <th>Registrado</th>
                <td>{% if servicio.registro %}{{ servicio.registro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table><br/>
    <a href="{{ path('admin_servicios_index') }}" class="btn btn-default">Regresar a la lista</a> <br/>
    {{ form_start(delete_form) }}<input type="submit" value="Borrar" class="btn btn-danger">{{ form_end(delete_form) }}
{% endblock %}
