{% extends 'RedesSivelBundle::admin.html.twig' %}
{% block titulo %}Listado de categorias{% endblock %}
{% block body %}

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.nombreCategoria }}</td>
                <td>{{ categorium.descripcionCategoria }}</td>
                <td>
                    <a href="{{ path('admin_categoria_show', { 'id': categorium.id }) }}"  class="btn btn-default">Ver</a>
                    <a href="{{ path('admin_categoria_edit', { 'id': categorium.id }) }}"  class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_categoria_new') }}"  class="btn btn-success">Crear nueva</a>
{% endblock %}
