<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>:: {% block title %}{% endblock %} | Sistema de Seguimiento a Iniciativas y Vinculaciones en la Economía Local ::</title>
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
<!-- animate.css -->
<link rel="stylesheet" href="{{ asset('assets/animate/animate.css') }}" />
<link rel="stylesheet" href="{{ asset('assets/animate/set.css') }}" />
<!-- gallery -->
<link rel="stylesheet" href="{{ asset('assets/gallery/blueimp-gallery.min.css') }}">
<!-- favicon -->
<link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% block js_head %}{% endblock %}
</head>
<body>
<div class="topbar animated fadeInLeftBig"></div>
{% include 'RedesSivelBundle::Template/head.html.twig' %}
{% block body %}
    {% include 'RedesSivelBundle::Template/informacion.html.twig' %}
    {% include 'RedesSivelBundle::Template/personas.html.twig' %}
    {% include 'RedesSivelBundle::Template/cooperantes.html.twig' %}
    {% include 'RedesSivelBundle::Template/estadisticas.html.twig' %}
{% endblock %}
{% include 'RedesSivelBundle::Template/footer.html.twig' %}
<!-- jquery -->
<script src="{{ asset('assets/jquery.js') }}"></script>
<!-- wow script -->
<script src="{{ asset('assets/wow/wow.min.js') }}"></script>
<!-- boostrap -->
<script src="{{ asset('assets/bootstrap/js/bootstrap.js') }}" type="text/javascript" ></script>
<!-- jquery mobile -->
<script src="{{ asset('assets/mobile/touchSwipe.min.js') }}"></script>
<script src="{{ asset('assets/respond/respond.js') }}"></script>
<!-- gallery -->
<script src="{{ asset('assets/gallery/jquery.blueimp-gallery.min.js') }}"></script>
<!-- custom script -->
<script src="{{ asset('assets/script.js') }}"></script>
</body>
</html>